<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <div id="container" style="margin-top: 20px;"></div>

    {% load static %}
    <script type="text/javascript"> var chart_data = {{chart_data|safe}}</script>
    <script type="text/javascript"> var chart_title = {{chart_title|safe}}</script>

    <script defer src="{% static 'polls/javascript.js' %}"></script>

</body>
</html>